{% extends "base.html" %}


{% block title %}
  Top Channel Results
{% endblock %}

{% block content %}
<main class="container d-flex flex-column  align-items-center justify-content-center p-5 ">
  <section class="text-center gap-4 row ">
    {% for item in response['items'] %}
    <div class="col">
      <div class="card" style="min-width: 300px; max-width: auto; min-height: 550px; max-height: auto;">
        <img src="{{ item['snippet']['thumbnails']['default']['url'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.youtube.com/watch?v={{ item['id']['videoId'] }}" class="nav-link">
              {{ item['snippet']['title'] }}
            </a>
          </h5>
          <p class="card-text">{{ item['snippet']['description'] }}</p>
          <form action="{{ url_for('comments') }}" method="post">
            <input type="text" class="form-control" id="video_id" name="video_id" value="https://www.youtube.com/watch?v={{ item['id']['videoId'] }}" hidden required="" minlength="4" aria-describedby="emailHelp" placeholder="Enter YouTube video url ...">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Search Comments</button>
          </form>
        </div>
      </div>
    </div>
      {% endfor %}
  </section>
</main>
{% endblock %}