{% extends "base.html" %}


{% block title %}
  Top Channel Results
{% endblock %}

{% block content %}
<main class="container d-flex flex-column  align-items-center justify-content-center p-5 ">
  <section class="text-center gap-4 row ">
    {% for item in response['items'] %}
    <div class="col">
      <div class="card" style="min-width: 300px; max-width: auto; min-height: 550px; max-height: auto;">
        <img src="{{ item['snippet']['thumbnails']['default']['url'] }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item['snippet']['title'] }}</h5>
          <p class="card-text">{{ item['snippet']['description'] }}</p>
          <a href="https://www.youtube.com/watch?v={{ item['video_id'] }}" class="btn btn-primary">Go Watch</a>
        </div>
      </div>
    </div>
      {% endfor %}
  </section>
</main>
{% endblock %}