{% extends "base.html" %} {% block title %} Comments {% endblock %} {% block
content %}
<main class="col-md-12 ms-sm-auto px-md-4" style="height: 100vh">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0 gap-2 ">
      <div class="btn-container"></div>

    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-success">
        Average Positive Sentiments : {{ avg_positive }}%
      </button>
      <button type="button" class="btn btn-sm btn-danger">
        Average Negative Sentiments : {{ avg_negative }}%
      </button>
    </div>
  </div>
  </div>
  <div class="table-responsive">
    <table class="table border table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Comments</th>
          <th scope="col">Sentiment Analysis</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
        <tr id='{{ contentType }}'>
          <td>{{ loop.index }}</td>
          <td>
            {{
            comment.snippet.topLevelComment.snippet.authorDisplayName.replace('@',
            '') }}
          </td>
          <td>{{ comment.snippet.topLevelComment.snippet.textDisplay }}</td>
          <td>
            {% if comment.sentiment %}
            <ul class="d-flex gap-3 text-center">
              <p>Positive <br />{{ comment.sentiment.pos * 100 }}%</p>
              <p>Negative <br />{{ comment.sentiment.neg * 100 }}%</p>
              <p>
                Neutral <br />
                {{ comment.sentiment.neu * 100 }}%
              </p>
              <p>Compound <br />{{ comment.sentiment.compound * 100 }}%</p>
            </ul>
            {% else %} N/A {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}