
{% extends "base.html" %}


{% block title %}
Comments
{% endblock %}

{% block content %}
<main class="container d-flex flex-column align-items-center justify-content-center">
  <section class="p-5 ">
      <h1 class="text-center">Comments</h1>
      <div class="table-responsive">
        <table class="table table-hover align-middle ">
          <thead>
            <tr class="align-middle ">
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Comments</th>
              <th scope="col">Sentiment Analysis</th>
            </tr> 
          </thead>
          <tbody class="table-group-divider">
            {% for comment in comments %}
            <tr class="align-middle ">
              <th scope="row">{{ loop.index }}</th>
              <td class="text-dark h6">{{ comment.snippet.topLevelComment.snippet.authorDisplayName.replace('@', '') }}</td>
              
              <td>{{ comment.snippet.topLevelComment.snippet.textDisplay }}</td>
              <td>
                {% if comment.sentiment %} 
                <ul class="d-flex gap-3 text-center ">
                    <p>Positive <br>{{ comment.sentiment.pos *100 }}%</p>
                    <p>Negative <br>{{ comment.sentiment.neg *100 }}%</p>
                    <p>Neutral <br> {{ comment.sentiment.neu *100 }}%</p>
                    <p>Compound <br>{{ comment.sentiment.compound *100 }}%</p>
                </ul>
                {% else %}
                N/A
                {% endif %}
            </td>
            </tr>
            {% endfor %}  
          </tbody>
        </table>
        
      </div>
      
  </section>  
</main>
{% endblock %}
    
    
    <!-- <script>
      document.getElementById('sentiment-analyzer').addEventListener('click', function() {
          analyzeSentiments();
      });

      function analyzeSentiments() {
          // AJAX request to trigger sentiment analysis
          $.ajax({
              type: 'GET', // Change to GET if you're retrieving the comments from the server
              url: '/analyze_sentiments', // URL to trigger sentiment analysis
              success: function(response) {
                  alert('Sentiment analysis completed!');
                  // Handle sentiment analysis results if needed
              }
          });
      }
  </script> -->