{% extends "base.html" %}


{% block title %}
    Home
{% endblock %}


{% block content %}
<main class="container  d-flex flex-column  align-items-center justify-content-center" style="height: 100vh;">
    <section class="p-5" >
        <h1>YouTube Comments Sentiments Analyze</h1>
        <form action="{{ url_for('comments') }}" method="post">
          <div class="mb-3">
            <input type="text" class="form-control" id="video_id" name="video_id" required="" minlength="4" aria-describedby="emailHelp" placeholder="Enter YouTube video url ...">
          </div>
          <button type="submit" class="btn btn-primary" style="width: 100%;">Search Comments</button>
          <p class="text-center mt-3 text-danger">{{ error_code }}</p>
        </form>

        <form action="{{ url_for('channel') }}" method="post">
          <div class="mb-3">
            <input type="text" class="form-control" id="video_id" name="video_id" required="" minlength="4" aria-describedby="emailHelp" placeholder="Search YouTube channels...">
          </div>
          <button type="submit" class="btn btn-primary" style="width: 100%;">Search Channel</button>
          <p class="text-center mt-3 text-danger">{{ error_code }}</p>
        </form>
    </section>
</main>
{% endblock %}